body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 400;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.actions form{
    display: inline-block;
}
.mailbox-subject a{
    color: inherit;
}
.sidebar-menu li>a{
    text-transform: uppercase;
}
.sidebar-menu>li>.treeview-menu > li{
    padding-left: 32px;
}
.sidebar-menu .treeview-menu>li>a{
    position: relative;
    /*border-left: 1px dotted #8aa4af;*/
    text-transform: inherit;
}
.sidebar-menu .treeview-menu>li>a:before{
    position: absolute;
    left: 0;
    top: 50%;
    border-bottom: 1px dotted #8aa4af;
    width: 12px;
    z-index: 99;
}
.sidebar-menu .treeview-menu>li:last-child>a{
    border-left: none;
}
.sidebar-menu .treeview-menu>li:last-child>a:before{
    height: 50%;
    top: 0;
    border-left: 1px dotted #8aa4af;
}
.label-status{
    display: inline-block;
    position: relative;
    padding-left: 15px;
    text-transform: uppercase;
}
.label-status:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 6px;
    left: 0;

}
.label-status.label-new:before{
    background-color: #00c0ef;
}

.label-status.label-quote:before{
    background-color: #e08e0b;
}

.label-status.label-call:before{
    background-color: #367fa9;
}
.label-status.label-win:before{
    background-color: #00a65a;
}
.label-status.label-lost:before{
    background-color: #d73925;
}
/*
css custom form*/
label{
    font-weight: normal;
}
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.box-header,
.box-body,
.box-footer{
    padding: 15px;
}
.form-control{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 43px;
    background-color: #f9ffff;
}
.form-control[type=search]{
    height: 34px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: auto;
    min-height: 175px;
}
.form-inline-simple{
    position: relative;
    overflow: hidden;
}
.form-inline-simple button,
.form-inline-simple .form-control{
    height: 43px;
}
.form-inline-simple button{
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
}
/*tipster update in lead*/
.tipster__update{
    position: relative;
}
.tipster__update select,
.tipster__update button{
    height: 43px;
}
.tipster__update .form-control{
}
.tipster__update button{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
/*end tipster update in lead*/
/*
Css for breadcrumb*/
.content-header>.breadcrumb{
    float: none;
    position: static;
}
.radio-inline, .checkbox-inline{
    margin-top: 10px!important;
}

.select2-container--default .select2-selection--single{
    height: 43px;
    border-color: #d2d6de;

}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 5px 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 36px;
}
/*List status*/
.history-statuses {
    width: 100%;
}
.history-statuses > li{
    padding: 10px 0;
    border-bottom: 1px dashed #f4f4f4;
    display: table;
    width: 100%;
}
.history-statuses > li:last-child{
    border-bottom: none;
}
.history-statuses > li > span{
    display: table-cell;
    vertical-align: middle;
}
.history-statuses .history__time{
    width: 95px;
    font-size: 13px;
    color: #aaaaaa;
}
.history-statuses .history__info{
    width: calc(100% - 95px);
    padding: 0 10px;
    font-weight: bold;
}
.history-statuses > li.label-new .history__info{
    border-left: 4px solid #00c0ef;
}
.history-statuses > li.label-quote .history__info{
    border-left: 4px solid #e08e0b;
}
.history-statuses > li.label-call .history__info{
    border-left: 4px solid #367fa9;
}
.history-statuses > li.label-win .history__info{
    border-left: 4px solid #00a65a;
}
.history-statuses > li.label-lost .history__info{
    border-left: 4px solid #d73925;
}
#clickHistory{
    cursor: pointer;
}
#showHistory{
    display: none;
}
/*End List status*/
span.text-highlight{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    display: block;
}

.categoryForm .form-group{
    position: relative;
}
.categoryForm button{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    height: 100%;

}
/*
Detail page*/
.box-line > div{
    margin: 5px 0;
}
/*
End detail page*/
/*Right column*/
.block__action{
    overflow: hidden;
    margin: 0 0 15px 0;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ddd;
}
.block__action:last-child{
    border-bottom: none;
}
/*End Right column*/
@media (min-width: 992px) {
    .box-list .box-header{
        position: relative;
    }
    .box-list .box-header .box-title{
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        z-index: 99;
    }
}